---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import AuthForm from "../components/AuthForm.tsx";

const title = "Reset Password - PulseReader";
---

<GlobalLayout title={title}>
  <div class="container mx-auto px-4 py-8">
    <div class="flex min-h-[calc(100vh-12rem)] items-center justify-center">
      <AuthForm
        mode="forgot-password"
        onSubmit={async (data) => {
          // TODO: Implement forgot password API call
          // eslint-disable-next-line no-console
          console.log("Forgot password data:", data);
          // Toast notification will be handled inside AuthForm component
        }}
        client:only="react"
      />
    </div>
  </div>
</GlobalLayout>
