---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import VerificationMessage from "../components/VerificationMessage.tsx";

const title = "Verify Email - PulseReader";
---

<GlobalLayout title={title}>
  <div class="container mx-auto px-4 py-8">
    <div class="flex min-h-[calc(100vh-12rem)] items-center justify-center">
      <VerificationMessage
        onResendVerification={async () => {
          // TODO: Implement resend verification API call
          // eslint-disable-next-line no-console
          console.log("Resending verification email");
          // Toast notification will be handled inside VerificationMessage component
        }}
        client:only="react"
      />
    </div>
  </div>
</GlobalLayout>
